.additionalEducation {
  opacity: 1;
  background: #111010;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.educationLinkOn {
  opacity: 0.1;
  scrollbar-width: none;
}

.mainWrapper {
  background-color: white;
  z-index: 0;
  margin-top: 100px;
  width: 80%;
  margin: 0 auto;
}

.on {
  -webkit-transition: 1s;
  transition: 1s;
  background-color: black;
}

.on a {
  color: #f3f3f3;
}

.aboutMe {
  height: 100vh;
  background-image: url("../img/parallax1.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
  position: relative;
}

.aboutMe .topNavi {
  background-color: #fff;
  opacity: 1;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 999;
}

.aboutMe .topNavi .topNavi-component {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
}

.aboutMe .topNavi .topNavi-component li {
  padding: 16px 10px;
  margin-right: 30px;
}

.aboutMe .aboutMeTxt {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#aboutMe-profile {
  margin-top: 100px;
}

#aboutMe-profile .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

#aboutMe-profile .profile #myProfilePic {
  margin-right: 20px;
  opacity: 0.8;
}

#aboutMe-profile .profile #myName {
  margin-top: 8px;
}

.resume {
  margin-top: 60px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume #education .educationTxt {
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 22px;
}

.resume #education .degrees li {
  font-size: 17px;
  margin-bottom: 10px;
}

.resume #education .degrees li #referenceLink, .resume #education .degrees li a {
  color: #6775f1;
}

.resume #career .careerTxt {
  margin-bottom: 20px;
  text-decoration: underline;
  font-size: 22px;
}

#skills {
  margin-top: 60px;
  margin-bottom: 20px;
}

#skills .skillTxt {
  font-size: 22px;
  text-decoration: underline;
  margin-bottom: 20px;
}

#skills #skillList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills #skillList .framework {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#skills #skillList .framework li {
  margin-bottom: 10px;
}

#skills #skillList .framework #Spring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills #skillList .framework #Spring .Spring {
  margin-right: 10px;
}

#skills #skillList .framework #Spring .maximumBox {
  width: 700px;
  height: 30px;
  background-color: whitesmoke;
}

#skills #skillList .framework #Spring .maximumBox .myProficiency {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: rgba(36, 36, 36, 0.623);
  width: 0px;
  height: 100%;
  position: relative;
}

#skills #skillList .framework #Spring .maximumBox .myProficiency span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#skills #skillList .framework #Nodejs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills #skillList .framework #Nodejs .Nodejs {
  margin-right: 10px;
}

#skills #skillList .framework #Nodejs .maximumBox {
  width: 700px;
  height: 30px;
  background-color: whitesmoke;
}

#skills #skillList .framework #Nodejs .maximumBox .myProficiency {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #dee761;
  width: 0px;
  height: 100%;
  position: relative;
}

#skills #skillList .framework #Nodejs .maximumBox .myProficiency span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#skills #skillList .framework #Keras {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills #skillList .framework #Keras .Keras {
  margin-right: 10px;
}

#skills #skillList .framework #Keras .maximumBox {
  width: 700px;
  height: 30px;
  background-color: whitesmoke;
}

#skills #skillList .framework #Keras .maximumBox .myProficiency {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #4faadf;
  width: 0px;
  height: 100%;
  position: relative;
}

#skills #skillList .framework #Keras .maximumBox .myProficiency span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#skills #skillList .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

#skills #skillList .skills li {
  margin-bottom: 10px;
}

#skills #skillList .skills #java {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills #skillList .skills #java .java {
  margin-right: 10px;
}

#skills #skillList .skills #java .maximumBox {
  width: 700px;
  height: 30px;
  background-color: whitesmoke;
}

#skills #skillList .skills #java .maximumBox .myProficiency {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: rgba(36, 36, 36, 0.623);
  width: 0px;
  height: 100%;
  position: relative;
}

#skills #skillList .skills #java .maximumBox .myProficiency span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#skills #skillList .skills #R {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills #skillList .skills #R .R {
  margin-right: 10px;
}

#skills #skillList .skills #R .maximumBox {
  width: 700px;
  height: 30px;
  background-color: whitesmoke;
}

#skills #skillList .skills #R .maximumBox .myProficiency {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #4faadf;
  width: 0px;
  height: 100%;
  position: relative;
}

#skills #skillList .skills #R .maximumBox .myProficiency span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#skills #skillList .skills #Javascript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills #skillList .skills #Javascript .Javascript {
  margin-right: 10px;
}

#skills #skillList .skills #Javascript .maximumBox {
  width: 700px;
  height: 30px;
  background-color: whitesmoke;
}

#skills #skillList .skills #Javascript .maximumBox .myProficiency {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #dee761;
  width: 0px;
  height: 100%;
  position: relative;
}

#skills #skillList .skills #Javascript .maximumBox .myProficiency span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#skills #skillList .skills #SQL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills #skillList .skills #SQL .SQL {
  margin-right: 10px;
}

#skills #skillList .skills #SQL .maximumBox {
  width: 700px;
  height: 30px;
  background-color: whitesmoke;
}

#skills #skillList .skills #SQL .maximumBox .myProficiency {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #bfdfd2;
  width: 0px;
  height: 100%;
  position: relative;
}

#skills #skillList .skills #SQL .maximumBox .myProficiency span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#skills #skillList .skills #Python {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#skills #skillList .skills #Python .Python {
  margin-right: 10px;
}

#skills #skillList .skills #Python .maximumBox {
  width: 700px;
  height: 30px;
  background-color: whitesmoke;
}

#skills #skillList .skills #Python .maximumBox .myProficiency {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #e481a2;
  width: 0px;
  height: 100%;
  position: relative;
}

#skills #skillList .skills #Python .maximumBox .myProficiency span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#skills #skillList .skills li {
  font-size: 17px;
  margin-left: 10px;
}

#etcSkill {
  margin-top: 20px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#etcSkill li {
  font-weight: 700;
  margin-right: 20px;
  padding: 8px 10px;
  background-color: antiquewhite;
}

#project {
  margin-top: 100px;
}

#project .list .project1 {
  background-image: url("../img/dna1.jpg");
  width: 100%;
  height: 75vh;
}

#project .list .project2 {
  background-image: url("../img/java.png");
  width: 100%;
  height: 75vh;
}

#project .list .project3 {
  background-image: url("../img/js.png");
  width: 100%;
  height: 75vh;
}

#contact {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .contactForm {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact .contactForm form div {
  position: relative;
}

#contact .contactForm form div i {
  position: absolute;
  top: 10%;
  left: 1%;
  display: block;
}

#contact .contactForm form div input {
  text-align: center;
}

#contact .contactForm :not(:nth-child(1)) {
  margin-top: 10px;
}

#contact .contactForm .name, #contact .contactForm .email {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#contact .contactForm .message {
  width: 100%;
  resize: none;
}

#contact .contactForm .submit {
  background-color: #f6f4f1;
  width: 10%;
  padding: 20px 10px;
  border: none;
}

#contact .contactForm .submit:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #dbdde6;
}

#contact .workingDevImg {
  border-radius: 50%;
}

#contact .workingDevImg:hover {
  opacity: 0.5;
}
/*# sourceMappingURL=main.css.map */