<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../static/js/axios.min.js"></script>
    <script src="../static/js/gsap/gsap.min.js"></script>
    <script src="../static/js/swiper.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../static/js/index.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/swiper.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/reset.css">

</head>



<body>

    <div>
        <!-- <div class="quickResume">

             신입 웹 백엔드 개발자 희망생입니다.
          
            <img id="devTimeLine" src="../static/img/myDevTimeLine.jpg" alt="" >
        
        </div> -->
    </div>
    <div class="movingBtn">
        <div class="top">
            <a href="#"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
        <div class="gitHub">
            <a href="https://github.com/devcs96" target="_blank"><p>GitHub</p></a>
        </div>
    </div>
    <div style="display: none;" class="additionalEducation">
        <div class="addtionalEducationTitle">
            <h1 class="addtionalEducationSubTitle">internship</h1>
            <button id="closeBtn"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
        <div class="addtionalEducationSubContent">
            <table class="resumeTbl"">
                <thead>
                    <tr class=" tblCol">
                <th>기간</th>
                <th>장소</th>
                <th>활동</th>
                <th>기술</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="tblRow">
                        <td>2018.12~2019.03</td>
                        <td>서울대학교 암연구소 21기 학생인턴연구원</td>
                        <td>폐암 환자군간 유전자 발현 데이터 통계분석 및 시각화</td>
                        <td>R</td>
                    </tr>
                    <tr class="tblRow">
                        <td>2019.05~2020.02</td>
                        <td>서울대학교 의과대학 24기 학생인턴연구원</td>
                        <td>유전자 발현 데이터 통계분석 및 시각화</td>
                        <td>R</td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>

        <div class="addtionalEducationTitle">
            <h1 class="addtionalEducationSubTitle">workshop</h1>
        </div>
        <div class="addtionalEducationSubContent">
            <table class="resumeTbl"">
                <thead>
                    <tr class=" tblCol">
                <th>기간</th>
                <th>장소</th>
                <th>교육내용</th>
                <th>기술</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="tblRow">
                        <td>2019.07</td>
                        <td>한국유전체학회</td>
                        <td>Application of NGS to translational Genomics 워크샵</td>
                        <td>R</td>
                    </tr>
                    <tr class="tblRow">
                        <td>2019.08</td>
                        <td>서울대학교병원 유전체 임상 정보분석 훈련센터</td>
                        <td>Methodology and Application for Next Generation Sequencing 워크샵</td>
                        <td>R</td>
                    </tr>
                    <tr class="tblRow">
                        <td>2020.02</td>
                        <td>서울대학교병원 유전체 임상 정보분석 훈련센터</td>
                        <td>Public Bio Big Data 워크샵</td>
                        <td>R , Python</td>
                    </tr>
                    <tr class="tblRow">
                        <td>2020.09~2021.01</td>
                        <td>FastCampus</td>
                        <td>Bytedegree - Java & Springboot 교육생 3기 교육수료</td>
                        <td>Java</td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>

        <div class="addtionalEducationTitle">
            <h1 class="addtionalEducationSubTitle">certifications</h1>
        </div>
        <div class="addtionalEducationSubContent">
            <ul class="cetifications">
                <li>
                    정보처리기사
                </li>
                <li>
                    AWS Certified Cloud Practitioner
                </li>
                <li>
                    SQLD
                </li>
                <li>
                    리눅스마스터 2급
                </li>
                <li>
                    CCNA
                </li>
                <li>
                    네트워크 관리사 
                </li>
                    
            </ul>
        </div>

    </div>

    <div id="root">
        <div class="aboutMe">
            <h1 class="aboutMeTxt">안녕하세요 주니어 백엔드 개발자 김찬수입니다. </h1>
            <div class="topNavi">
                <ul class="topNavi-component">
                    <li class="aboutMe_"><a><span>About Me</span></a></li>
                    <li class="myProjects"><a><span>My Projects</span></a></li>
                    <li class="Developer"><a><span>Activities</span></a></li>
                    <li class="contactMe"><a><span>Contact Me</span></a></li>
                </ul>
            </div>
        </div>

        <main class="mainWrapper">
            <div id="aboutMe-profile">
                <div class="profile">
                    <div>
                        <img id="myProfilePic" src="../static/img/증명사진.tiff" alt="profileImg">
                        <h2 id="myName"> 김 찬 수 </h2>
                    </div>
                    <h4>
                        안녕하세요 ? 주니어 백엔드 개발자를 목표로 공부하고 있는 데이터 엔지니어입니다. 
                        <p>서울대학교 의과대학 석박통합 학위과정중에 생물정보학 분야를 공부하며  입문하게 되었습니다. </p>
                    </h4>
                </div>
            </div>

            <div class="resume">
                <div id="education">
                    <div>
                        <h3 class="educationTxt">Education</h3>
                        <ul class="degrees">
                            <li>2015.03~2019.08 <b>BS in Biology,Gachon University</b></li>
                            <li>2019.08~2020.6 <b>Integrated PhD in Medical Science , Seoul National University College
                                    of Medicine</b></li>
                            <li>2021.03 ~ current <b>MS in Software engineering , Sogang University</b></li>
                            <li>etc - workshop,internship and certifications <span id="referenceLink"><i
                                        class="fa fa-link" aria-hidden="true"></i><a href="#">link</a></span> </li>
                        </ul>
                    </div>
                </div>

                <div id="career">
                    <div>
                        <div>
                            <h3 class="careerTxt">Career</h3>
                            <ul class="career">
                                <li>2020.08~ current <b>Data engineer in Data Science Team of Asan Preclinical
                                        Evaluation center for cancer therapeutix </b></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="skills">
                <h3 class="skillTxt">Skills</h3>
                <div id="skillList">
                    <ul class="skills">
                        <li id="java">
                            <h4 class="java">Java</h4>
                            <div class="maximumBox">
                                <div class="myProficiency" data-num="80">
                                    <span></span>
                                </div>
                            </div>
                        </li>

                        <li id="Javascript">
                            <h4 class="Javascript">Javascript</h4>
                            <div class="maximumBox">
                                <div class="myProficiency" data-num="55">
                                    <span></span>
                                </div>
                            </div>
                        </li>
                        <li id="Python">
                            <h4 class="Python">Python</h4>
                            <div class="maximumBox">
                                <div class="myProficiency" data-num="40">
                                    <span></span>
                                </div>
                            </div>
                        </li>
                        <li id="R">
                            <h4 class="R">R</h4>
                            <div class="maximumBox">
                                <div class="myProficiency" data-num="90">
                                    <span></span>
                                </div>
                            </div>
                        </li>
                        <li id="SQL">
                            <h4 class="SQL">SQL</h4>
                            <div class="maximumBox">
                                <div class="myProficiency" data-num="40">
                                    <span></span>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <ul class="framework">
                        <li id="Spring">
                            <h4 class="Spring">Spring</h4>
                            <div class="maximumBox">
                                <div class="myProficiency" data-num="70">
                                    <span></span>
                                </div>
                            </div>
                        </li>
                        <li id="Nodejs">
                            <h4 class="Nodejs">Node.js</h4>
                            <div class="maximumBox">
                                <div class="myProficiency" data-num="20">
                                    <span></span>
                                </div>
                            </div>
                        </li>
                        <li id="Keras">
                            <h4 class="Keras">Keras</h4>
                            <div class="maximumBox">
                                <div class="myProficiency" data-num="90">
                                    <span></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <div>
                        <h3></h3>
                        <ul id="etcSkill">
                            <li>Version Control : Git</li>
                            <li>IDE : IntelliJ,VS code</li>
                            <li>CSS Preprocessor : SCSS</li>
                            <li>Reproducible Data analysis Report : R MarkDown (RMD)</li>
                            <li>Cloud computing : AWS</li>
                            <li>TypeScript , Docker </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="project" class="swiper-container">
                <h1>Projects</h1>
                <div class="list swiper-wrapper">
                    <div class="project1 swiper-slide">
                        <div class="ribbon1">
                            <p>Web application</p>
                        </div>
                        <div class="detailTechniqueInfo">
                            <ul class="InfoKey">
                                <li><strong>프로젝트명</strong></li>
                                <li><strong>개발기간</strong></li>
                                <li><strong>개발내용</strong></li>
                                <li><strong>개발기술</strong></li>
                                <li></li>
                            </ul>
                            <ul class="InfoValue">
                                <li>비임상데이터조회 플랫폼 개발</li>
                                <li>2020.11 ~ current </li>
                                <li>로그인,회원가입,게시판,데이터시각화</li>
                                <li>
                                    <h4>Backend</h4>
                                    <ul class="techniqueList">
                                        <li> Web framework - spring </li>
                                        <li> Server side rendering - thymeleaf</li>
                                        <li> Database - MySQL </li>
                                        <li> Object Relational Mapping - Hibernate </li>
                                        <li> Open source library - Querydsl </li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>Frontend</h4>
                                    <ul class="techniqueList">
                                        <li> Vanilla javascript </li>
                                        <li> Open source library - Google chart , Chart js , Gsap </li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="project2 swiper-slide">
                        <div class="ribbon2">
                            <p>데이터 전처리,시각화</p>
                        </div>
                        <div class="detailTechniqueInfo">
                            <ul class="InfoKey">
                                <li><strong>프로젝트명</strong></li>
                                <li><strong>개발기간</strong></li>
                                <li><strong>개발내용</strong></li>
                                <li><strong>개발기술</strong></li>
                                <li></li>
                            </ul>
                            <ul class="InfoValue">
                                <li>Reproducible Data Report</li>
                                <li>2021.03 ~ 2021.03 (2주) </li>
                                <li>데이터 전처리,통계분석,시각화를 위한 자동화 process 구축</li>
                                <li>
                                    <h4> R </h4>
                                    <ul class="techniqueList">
                                        <li> open source library - dply , ggplot2 , knitr , readxl , huxtable , officer
                                        </li>
                                        <li> R MarkDown(.rmd file) , Latex </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="project3 swiper-slide">
                        <div class="ribbon3">
                            <p>Toy Project</p>
                        </div>
                        <div class="detailTechniqueInfo">
                            <ul class="InfoKey">
                                <li><strong>프로젝트명</strong></li>
                                <li><strong>개발기간</strong></li>
                                <li><strong>개발내용</strong></li>
                                <li><strong>개발기술</strong></li>
                                <li></li>
                            </ul>
                            <ul class="InfoValue">
                                <li>Drug Target Text Mining (NLP)</li>
                                <li>2021.04</li>
                                <li>REST API 활용한 신약후보물질 Text Mining</li>
                                <li>
                                    <h4>Backend</h4>
                                    <ul class="techniqueList">
                                        <li> Web framework - NodeJs </li>
                                        <li> Server side rendering - e2f </li>
                                        <li> Database - MySQL </li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>Frontend</h4>
                                    <ul class="techniqueList">
                                        <li> Vanilla javascript </li>
                                    </ul>
                                </li>
                                <li>
                                    <h4>Machine Learning</h4>
                                    <ul class="techniqueList">
                                        <li> R - keras, ggplot2 , dplyr</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-location">
                    <ul class="swiper-location">
                        <li>
                            <div class="round"></div>
                        </li>
                        <li>
                            <div class="round"></div>
                        </li>
                        <li>
                            <div class="round"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="activity">
                <h1>Activities</h1>
                <ul class="activity">
                    <li>
                        <ul>
                            <h2>kaggle</h2>
                            <li></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <h2>Hackerton</h2>
                            <li></li>
                        </ul>
                    </li>

                    <li>
                        <ul>
                            <h2>Reading</h2>
                            <li></li>
                        </ul>
                    </li>

                </ul>
            </div>


        </main>
        <div class="contactWrapper">
            <div id="contact">
                <div class="contactForm">
                    <h2>Contact Me</h2>
                    <form action="#" method="POST">
                        <div>
                            <input name= "requestorName" class="name" type="text" placeholder="이름"><i class="fa fa-user"
                                aria-hidden="true"></i>
                        </div>
                        <div>
                            <input name="requestorEmail" class="email" type="email" placeholder="helloworld@email.com"><i
                                class="fa fa-address-book-o" aria-hidden="true"></i>
                        </div>
                        <div>
                            <textarea name="content" class="message" name="message" cols="30" rows="10"
                                placeholder="any message would be appreciate"></textarea>
                        </div>
                        <input class="submit" type="submit" value="submit">
                    </form>
                </div>
                <div class="workingDevImg">
                    <div>
                        <img src="../static/img/workingDeveloper.png" alt="">
                    </div>
                </div>
            </div>

        </div>

</body>

</html>